#stylesheet textarea { width: 100%; }
textarea#input { width: 90%; height: 90%; display: block; }

#input-container {
  position: fixed;
  min-width: 550px;
  width: 50%;
  right: 1em;
  top: 3em;
  bottom: 0;
}

#github-songs-list a { display: block }

#song.two-column { column-count: 2; }
#song table.chords { break-inside: avoid-column; }

@media print {
  header { display: none }
}
